.App{
    background-color: #EEF1FA;
    min-height: 100vh;
    font-family: Poppins;
}

.components{
    margin: 0em 2.1em;
    .sidebar{
        // margin: 0em -2.1em;
    }
}

p{
    margin: 0 !important;
}